
@model Yeni_Web_Projem.Views.Home._MyPopupModel
@{
    <div>
        <h4>Bu benim pop-up içeriğim!</h4>
        <p>@DateTime.Now.ToString()</p>
        <p>Bu içerik partial view'den geliyor.</p>
    </div>
}
